$("#companies").append("<tr><td>" + "<%= j link_to @company.name %>" + "</td><td>" + "<%= j link_to 'borrar', company_path(@company.id), method: :delete %>" + " " + "<%= j link_to 'editar', modal_edit_path(id: @company.id), remote: true %>" + "</td></tr>");
